.loader {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.error {
  padding: 20px;
  text-align: center;
}

.empty {
  padding: 40px;
  text-align: center;
  font-style: italic;
}

.list {
  width: 100%;
}
